Flask==2.3.2
certifi==2023.7.22
datadog_api_client==2.15.0
ddtrace==1.17.2
gunicorn==21.2.0
pip==23.2.1
pytest==7.4.0
python-json-logger==2.0.7
requests==2.31.0
selenium==4.10.0
setuptools==68.0.0
wheel==0.41.0